@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: #000000;
    padding: 0px 5px 3px 4px;
    border-radius:  1px;
    margin: 0px 198px 15px 117px;
    border: solid 1px #ffffff;
    width: 255px;

}

.todo-body {
    margin-top: 5rem;
    padding: 1px;
    border-radius: 5px;
    width: 400px;
  
}

body {
    background-image: linear-gradient(120deg, #6dbbe1, #8f94a4e0);
}