@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: #000000;
    padding: 5px 3px 5px 3px;
    border-radius:  5px;
    margin: 3px 200px 15px 200px;
    border: solid 2px #000000;
}

.todo-body {
    margin-top: 5rem;
    padding: 1px;
    border-radius: 5px;
    width: 666px;
  
}