@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #62e5ff;
    color: #000000;
    padding: 0px 5px 3px 4px;
    border-radius:  3px;
    margin: 0px 200px 15px 121px;
    border: solid 2px #000000;
    width: 260px;

}

.todo-body {
    margin-top: 5rem;
    padding: 1px;
    border-radius: 5px;
    width: 400px;
  
}